body {
    margin: 0;
    background-color: #22577A;
    font-family: 'Poppins', sans-serif;
}

.container {
    width: 490px;
    margin: 70px auto 30px auto;
    display: flex;
    flex-direction: column;
}

#header {
    color: white;
    margin: 0px;
}

#highlight {
    color: #57cc99;
}

#par {
    color: lightgrey;
    margin: 5px 0px 50px 0px;
}

#length {
    text-align: center;
    width: 50px;
    padding: 4px;
    border: none;
    border-radius: 4px;
}

label {
    color: white;
}

.input-container {
    display: flex;
    justify-content: space-around;
    width: 490px;
}

#btn {
    color: whitesmoke;
    width: 35%;
    background-color: #57cc99;
    display: block;
    margin: 25px auto 0px auto;
    padding: 8px 10px 8px 10px;
    border: 0;
    border-radius: 4px;
}

.btn-container {
    display: flex;
    justify-content: space-around;
    width: 490px;
    margin: 0px auto 0px auto;
    padding-top: 30px;
    border-top: 1px solid #2E74A3;
}

.pass {
    color: #57cc99;
    background-color: #2E74A3;
    padding: 5px 30px 5px 30px;
    border: 0;
    border-radius: 4px;
}